body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif !important;
  font-weight: 500 !important;
  color: #222 !important;
  font-size: 15px;
}

.bg-fv {
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 350px;
  z-index: 0;
  background-image: url(../../assets/img/s_fv.png);
}

@supports (background-image: url(../../assets/img/s_fv.webp)) {
  .bg-fv {
    background-image: url(../../assets/img/s_fv.webp);
  }
}
@media screen and (min-width: 768px) {
  .bg-fv {
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 450px;
    z-index: 0;
    background-image: url(../../assets/img/s_fv.png);
  }
  @supports (background-image: url(../../assets/img/s_fv.webp)) {
    .bg-fv {
      background-image: url(../../assets/img/s_fv.webp);
    }
  }
}
@media screen and (min-width: 992px) {
  .bg-fv {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 450px;
    z-index: 0;
    background-image: url(../../assets/img/s_fv.png);
  }
  @supports (background-image: url(../../assets/img/s_fv.webp)) {
    .bg-fv {
      background-image: url(../../assets/img/s_fv.webp);
    }
  }
}
.bg-sub {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 224px;
  z-index: 0;
  background-image: url("../../assets/img/bg-sub.png");
}

@supports (background-image: url(../../assets/img/bg-sub.webp)) {
  .bg-sub {
    background-image: url(../../assets/img/bg-sub.webp);
  }
}